* {
    margin: 0;
    padding: 0;
}
img {
    width: 100%;
    height: auto;
}
.header {
    display: flex;
    justify-content: space-between;
    background: steelblue;
    align-items: center;
}
.logo img {
    width: 180px;
}
nav ul {
    list-style: none;
    display: flex;
}
nav ul li a {
    text-decoration: none;
    font-size: 20px;
    color: #000;
    border-right: 1px solid black;
    padding: 0 30px;
    line-height: 65px;
    display: block;
}
nav ul li a:hover {
    background-color: rgb(73, 73, 223);
    color: white;
}
.logo {
    margin-left: 5%;
}

nav {
    margin-right: 5%;
}

/* hero section */

section.hero {
    background: url(images/banner.jpg) no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}
.hero-content h1 {
    font-size: 50px;
    background: rgb(189, 163, 163);
    padding: 10px;
    border-radius: 10px;
}
.hero-content h2 {
    font-size: 45px;
    background: lightblue;
    display: inline-block;
    padding: 8px;
    border-radius: 10px;
    margin-top: 10px;
}

/* about section */

.about {
    background-color: lightgrey;
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.about-content {
    width: 60%;
}

.about-content h2 {
    margin-bottom: 27px;
    font-size: 35px;
}

.about-content p {
    font-size: 20px;
}

/* services section */
section.services {
    background: rgba(0,0,0,.1);
    padding: 70px 0;
    display: flex;
    text-align: center;
}

.service {
    box-shadow: 3px 4px 20px rgb(0 0 0 / 30%);
    padding: 30px;
    margin: 0 1%;
    border-radius: 20px;
}

.icon {
    font-size: 40px;
    width: 50px;
    height: 50px;
    background: aqua;
    padding: 15px;
    line-height: 50px;
    border-radius: 50%;
}

.service h3 {
    font-size: 30px;
    margin: 20px 0;
}

.service p {
    font-size: 18px;
    line-height: 1.7em;
}

/* blog section */

section.blog {
    display: flex;
    padding: 60px 0;
}

.blog-post {
    width: 60%;
    margin: 0 2%;
}

.blog1 {
    display: flex;
    margin-bottom: 15px;
}

.blog img {
    width: 42%;
    height: auto;
}

.blog p {
    font-size: 18px;
    margin-left: 3%;
    line-height: 1.5em;
}

.notifications {
    width: 36%;
}

.notifications p {
    border: 1px solid black;
    padding: 5px;
    margin: 35px 0;
    background: lightgray;
    line-height: 2em;
    border-radius: 6px;
    width: 80%;
}

/* footer */

footer {
    display: flex;
    justify-content: space-between;
    background-color: lightslategray;
    color: white;
    padding: 30px 0;
}
footer p {
    margin-left: 5%;
    font-size: 20px;
}
.social-icons {
    margin-right: 5%;
}
.social-icons .ico {
    font-size: 25px;
    margin-right: 20px;
}
.social-icons .blue:hover {
    color: blue;
}
.social-icons .red:hover {
    color: red;
}



@media(max-width: 800px) {
    .header {
        display: flex;
        flex-direction: column;
    }
    .logo {
        margin-top: 25px;
    }
    nav {
        margin: 10px 0%;
    }
    nav ul li a {
        border: none;
        padding: 0 15px;
    line-height: 50px;
    }

    section.hero {
        min-height: 500px;
    }
    .hero-content h1 {
        font-size: 40px;
        padding: 10px;
    }
    .hero-content h2 {
        font-size: 35px;
        padding: 8px;
        margin-left: 42px;
        margin-top: 20px;
    }

    .about {
        padding: 50px;
    }

    .about-content {
        width: 100%;
    }

    section.services {
        display: flex;
        flex-direction: column;
    }
    .service {
        width: 70%;
        margin: 30px 10%;
    }

    section.blog {
        display: flex;
        flex-direction: column;
    }

    .blog-post {
        width: 80%;
        margin: 10px 10%;
    }

    .blog1 {
        display: flex;
        margin-bottom: 30px;
        flex-direction: column;
    }

    .blog img {
        width: 80%;
        margin: 20px auto;
    }

    .blog p {
        width: 80%;
        margin: 0 auto;
        font-size: 18px;
        line-height: 1.2em;
    }

    .notifications {
        width: 80%;
        margin: 0 10%;
        text-align: center;
    }

    .notifications h3 {
        font-size: 30px;
    }

    .notifications p {
        width: 100%;
        padding: 5px;
        margin: 20px 0;
    }

    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px 0;
    }
    footer p {
        margin: 0 auto;
        font-size: 20px;
    }
    .social-icons {
        margin: 20px auto;
    }


}
